<html>

     <head>
        
        <link rel="stylesheet" 
              type="text/css" 
              href="style-login.css">
         
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>DANK</title>
        
        <style>
            
        
        </style>
    </head>
     <!------ FOLLOW THIS  
                <form id="editform" action="editfood" method="POST">
                        <input id="editid" type="hidden" name ="id">
                </form>
    --->
    
    <body>
        
        <div id="container-nav">
              
            <nav id="navbar">
                <ul>
                    <form id="form-li" action="home" method="post">
                        <button type="submit" id="home-button"><a><strong>DANK</strong></a></button>
                    </form>    
                    
                    <li id="form-li">No Account?</li>
                    
                    <form id="form-li" action="signup" method="post">
                        <li><button type="submit" id="signup-button"><strong>Sign Up</strong></button></li>
                    </form>
                </ul>


            </nav>
          </div>
        <br>
        <br>
        <br>
        <!-- LOGIN -->
        <div id="login-container">
        <div id="form-container">
            <span> <strong>Log into DANK</strong></span>
            <br>
            <form id="login-form" action="signin" method="post">
                
                <div class="form-group">
                    <input type="text" 
                           name="username"
                           placeholder="Username">
                </div>
                    
                <div class="form-group">    
                    <input type="password" 
                           name="password"
                           placeholder="Password">
                </div>

                    <div class="form-log">
                        <input class="button" type="submit" value="Login">
                    </div>
                
            </form>
        </div>
        </div>    
        
        
    </body>
</html>

   


        
        
    
    