<html>

    <head>
        <link rel="stylesheet" 
              type="text/css" 
              href="/style-index.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        
        <div id="container-nav">
              
            <nav id="navbar">
                <ul>
                    <form id="form-li"
                          action="/home-user" method="get">
                        <button type="submit" id="home-button"><a><strong>DANK</strong></a></button>
                    </form>    
                    
                    <form id="form-li"
                          action="post/search-user" method="post">
                        <input type="search" id="search-box" placeholder="Search...">
                        <button type="submit" id = "searchSubmit"><i class="fa fa-search"></i></button>
                    </form>
                    
                     <form id="form-li" action="/home-user" method="get">
                        <button type="submit" id="home-but"><a><strong><i class="fa fa-home"></i></strong></a></button>
                    </form>    
                    
                    <form id="form-li" action="/profile" method="post">
                        <li><button type="submit" id="profile-button"><strong>Profile</strong></button></li>
                    </form>    
                </ul>


            </nav>
        </div>
        <br><br><br>
          <div id="upload-container">
            <form action="add" method="post" enctype="multipart/form-data">
            
            <span id="uplo"><Strong id="dis">IMAGE: </Strong> <input type="file" name = "filename" id = "image" required></span>  
            <br>    
            <STRONG id="dis">TITLE</STRONG>    
           <div class="up-group"><input type="text" id = "title" placeholder="Title" name="title" required></div>
           
            <br>
            <STRONG id="dis"> DESCRIPTION </STRONG>    
            <div class="up-tags"><textarea name="description" id = "description" placeholder="description" required></textarea></div>
            
            
            <br>
            <Strong id="dis"> TAGS </Strong>    
            <div class="tags-cont"><textarea role="combobox" id = "tags" placeholder="Tags" name="tags"></textarea></div> 
                
            <br>    
            <Strong id="dis">Privacy</Strong>    
            <select name="privacy" id="meme-privacy">
               <option value="public">public</option>
               <option value="private">private</option>
           </select>
            
                
            
             
            <br>
            <Strong id="dis">Share To:</Strong>    
            <div><input type="text" id = "sharedto" placeholder="Share to" name="shareto"></div>    
            
            <br>
            <div id="submit-cont">    
            <input id="submit-button" type = "submit" id = "submit">
            </div>    
            </form>
        </div>  
    </body>
</html>